[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
invoke = "*"

[packages]
flask = "*"
flask-cors = "*"
geojson = "*"
pyproj = "*"
passlib = "*"
pyjwt = "*"
pytest = "*"

[requires]
python_version = "3.9"
